<p id="notice"><%= notice %></p>
<%# binding.pry;'' %>
<h1>Recipes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Instructions</th>
      <th>Category</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= link_to(recipe.name, recipe) %></td>
        <td><%= recipe.instructions %></td>
        <td><%= link_to recipe.category.name, category_path(recipe.category) %></td>
        
        <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>