<!DOCTYPE html>
<html>
<head>
  <title>RailsNewCookbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><% if alert != nil %><%= image_tag('https://pbs.twimg.com/profile_images/493711513027215361/C3Y4e550_normal.png') %><% end %><%= alert %></p>
<div class="header"><h1>Recipe Book</h1></div>
<div class="wrapper">
<div class="style1">
<%= render partial: 'layouts/sitemenu' %>
</div>
<div><%= current_user.try(:email) %></div>
<%= yield %>
</div>
</body>
</html>
